.pull-center {
    text-align: center;    
}

.footer {
    margin-top: 50px;
}

.top5 { margin-top: 5px; }

@media (max-width: 991px) {
    .top5 { margin-top: inherit; }
    .btn.btn-block { margin-top: 5px; }
}